<div class="add-column-wrapper">
  <div *ngIf="!toggle" (click)="toggle = true">
    <mat-icon>add</mat-icon>
    <span class="add-label">Add another list</span>
  </div>

  <div *ngIf="toggle">
    <input (keyup.enter)="addColumn(nameInput.value)" #nameInput placeholder="Enter list title...">
    <div>
      <button mat-raised-button color="primary" (click)="addColumn(nameInput.value)">Add List</button>
      <button mat-button (click)="toggle = false">Cancel</button>
    </div>
  </div>
</div>
